* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 0.16fr 0.68fr 0.16fr;
    width: 100%;
    height: 60px;
}

#title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

#titleText {
    font-weight: 500;
    font-size: 20px;
    font-family:Georgia, Times, 'Times New Roman', serif;
    color: #504e4e;
}

#titleImage {
    height: 30px;
    width: 30px;
}

#headerMid {
    display: flex;
    align-items: center;
}

#headerSearch {
    height: 55%;
    width: 60%;
    border-radius: 0.3rem;
    border: 1px grey solid;
    padding-left: 0.5rem;
    margin-left: 17px;
}

#userSection {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding-right: 1rem;
}

#userText {
    font-weight: 500;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

#userImage {
    height: 35px;
    width: 35px;
    background-color: yellow;
    border-radius: 50%;
}

#mainContent {
    display: grid;
    grid-template-columns: 0.16fr 0.68fr 0.16fr;
}

#menuList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

#menuList a {
    text-decoration: none;
}

#menuList a li {
    color: grey;
    display: flex;
    gap: 0.3rem;
}

#middleContent {
    background-color: rgb(244, 248, 251);
    border-radius: 1rem;
    padding: 1rem;

}

#friendSection {
    margin: 15px;
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 1rem;
    padding left: +20px;
    /* margin-left:auto; */
}

#friendSearch {
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    border: 1px grey solid;
    padding-left: 2.0rem;
}

#friendList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding-left: 2.0rem;
}

#friendList a {
    text-decoration: none;
    justify-content: space-between;
}

#friendList a li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0rem;
    color: gray;
}

#friendList a li img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
}


#fr-name{
    font-size: 15px;
}

.feed-event {
    width: 930px;
    padding: 30px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between 30px;
    background-color: rgba(136, 136, 136, 0.103);
    border-radius: 20px;
}


#feed-area img{
    border-radius: 50%;
}

.status{
    width: 500px;
    display:inline-block;
    background-color: white;
    padding: 17px;
    border-radius: 10px;
    margin-left: +9px;
}

#status-input{
    height: 35px;
    width: 347px;
    background-color: rgba(136, 136, 136, 0.103);
    border-radius: 0.3rem;
    padding-left: 15px;
    padding-top: 10px;
    border: none;
    resize: none;
    width: 90%;
    
}

.status-options {
    margin-top: 15px;
    display: flex;
    gap: 7px;
}

.status-option {
    margin-left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #5a5d60;
}

.post-button {
    margin-left: +85px;
    border: none;
    background-color: rgb(80, 123, 241);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.feed {
    max-width: 500px;
    margin-left: 0px;
    padding: 10px;
}

.post {
    padding: 17px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author {
    flex-grow: 1;
}

.post-actions{
    margin-top: 15px;
    margin-bottom: 15px;
    display:flex ;
}

.author-name {
    font-weight: bold;
    margin-right: 5px;
}

.post-time {
    color: #777;
}

#post-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

#post-img{
    border-radius: 6%;
    height:250px;
    width:400px;
}

.action-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    color: #555;
}

.like-btn {
    margin-left: 40px;
    color: #5a5d60;
    margin-right: 100px;
}

.comment-btn {
    color: #5a5d60;
    margin-right: 100px;
}

.cmt img {
    margin-top: 17px;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

#cmt {
    height: 30px;
    width: 300px;
    border-radius: 0.3rem;
    /* border: 1px grey solid; */
    padding-left: 0.5rem;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(136, 136, 136, 0.103);
}

.post-cmt{
    margin-left: 15px;
    background:transparent;
    color: #438ad1;
    border: none;
}

.share-btn {
    color: #5a5d60;
}

#img-emo {
    padding: 5px 5px;
    border-radius: 10px;
    border-color: rgba(182, 182, 182, 0.3);
}

{
  margin: 0px;
  padding: 0px;
}


.box{
  margin: 5px;
  border-radius: 15px;
  border: 0.1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.034);
  background-color: white;
  margin-left: +70px;
}

.box-1 {
  width: 280px;
  height: 190px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.box-2 {
  width: 280px;
  height: 330px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.box-3{
  width: 280px;
  height: 270px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.ignore{
  margin-left: 23px;
  padding: 7px 25px 7px 25px;
  border-radius: 10px;
  border-color: rgba(182, 182, 182, 0.3);
  color: rgba(71, 71, 71, 0.801);
  background: white;
  cursor: pointer;
  
}

.follow{
  margin-right: 23px;
  padding: 7px 25px 7px 25px;
  border-radius: 10px;
  border-color: transparent;
  color:white;
  background: rgb(80, 123, 241);
  cursor: pointer;
}

.info{
  display: flex;
  margin-top: 20px;
  margin-left: 23px;
}

.info-box3{
  display: flex;
  margin-bottom: 8px;
}

#output {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

#output-1 {
  width: 45px;
  height: 45px;
  border-radius: 20%;
  margin-right: 10px;
  object-fit: cover;
}

.desc{
  margin-left: 10px;
}

.name{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-weight: bold;
  text-align: left;
  font-size: 15px;
  color: rgb(87, 87, 87);
}

.role{
  color: rgba(71, 71, 71, 0.548);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 12.5px;
  padding-top: 4px;
  font-weight: 700;
}

#icon{
  width: 16px;
  height: 16px;
}

.socials {
  display: flex;
  justify-content: center ;
  gap:15px;
  padding-bottom: 12px;
  margin-left: 10px;
}

#seeall{
  margin-left: 80px;
  text-decoration: none;
  color: rgb(80, 123, 241);
}

#seeall-box3{
  margin-left: 120px;
  text-decoration: none;
  color: rgb(80, 123, 241);
}

.see{
  text-align: right; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
}

.heading{
  margin: 9px;
  margin-left: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(87, 87, 87);
  font-size: 14px;
}

hr{
  border: 1px rgba(126, 125, 125, 0.123) solid;
}

#dots{
  margin-left: 110px;
  text-decoration: none;
  color: rgb(87, 87, 87);
}

.birthdays{
  margin-left: 14px;
  margin-right: 14px;
  justify-content: center;
  padding: 10px;
  background-color: rgba(199, 199, 199, 0.151);
  border-radius: 10px;
  margin-top: 15px;
}

.up-bdays{
  margin-top: 5px;
  margin-bottom: 10px;
}

.flex{
  display: flex;
  margin-bottom: 5px;
}

p{
  margin-top: 10px;
  font-weight: bold;
  color: grey ;
  font-family: Arial, Helvetica, sans-serif;
}

#menu{
  height: 30px;
  position: absolute;
}

.send-msg{
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  padding: 10px;
}

#input-1{
  border: none;
  width: 187px;
  height: 30px;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  font-size: 14px;
  cursor:text;
  background-color: rgba(197, 197, 197, 0.226);
  
}

.send{
  background: rgba(80, 123, 241, 0.123);
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 2px;
  cursor: pointer;
  justify-content: center;
  position: absolute;
}

.birthdays p{
  font-size: 13px;
}

.text-snd text {
  font-size: 12px;
}
